@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.blog-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  padding: 3rem 0;
}

/* - - - 
  ALIGN 
- - - - */
.two-columns {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .two-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

/* - - - - 
DECORATIONS
- - - - - */
.selected {
  font-weight: 700;
  border-bottom: 1px solid black;
}

.text-space p {
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Abril Fatface", cursive;
}

.border {
  border: 2px solid black;
}

/* - - - 
  COLORS 
- - - - */
.subtitle-color {
  color: #3a90ac;
}

.color-blue {
  color: #3a90ac;
  font-style: italic;
  font-weight: 700;
}

/* - - - BTN STYLES - - - */
.btn {
  margin: 2rem 0;
  text-align: center;
  border-radius: 3px;
  background: #1db954;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 1rem 3rem;
}

.blog-btn {
  margin: 2rem 0;
  text-align: center;
  border-radius: 3px;
  background: #2b6c81;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 1rem 5rem;
}

.right-btn {
  margin: 2rem 0;
  text-align: center;
  border-radius: 3px;
  background: #2b6c81;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1rem 5rem;
}

header {
  width: 100%;
  background: #fff;
}

.hero-header {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

.nav {
  padding: 2rem 0;
  width: 100%;
  position: relative;
}

.nav .logo {
  width: 200px;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .nav .logo {
    width: 300px;
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (min-width: 768px) {
  .nav-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-content .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-content .nav-links a {
  text-transform: uppercase;
  margin-left: 1rem;
}

.nav-content .nav-links a:first-of-type {
  margin-left: 0;
}

video {
  width: 100%;
}

@media (min-width: 768px) {
  video {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* MOBILE MENU STYLES */
.mobile-menu {
  width: 50px;
}

.mobile-menu:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.about {
  padding: 5rem 0;
}

.about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
}

.about-content .about-text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .about-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content .about-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .about-content .about-image {
    padding-right: 4rem;
  }
}

.album-container {
  max-width: 800px;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  margin-bottom: 2rem;
}

.top .album-img-container {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .top .album-img-container {
    max-width: 300px;
  }
}

.top .album-img-container .album-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid black;
}

@media (min-width: 768px) {
  .top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .title-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .top .album-title {
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.tracks {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}

.tracks li {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.contact {
  padding: 2.5rem 0;
}

.contact li {
  margin-bottom: 1rem;
}

.contact i {
  font-size: 2rem;
  margin-right: 1rem;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.page-container footer {
  position: absolute;
  bottom: 0;
}

.grid-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-three {
    gap: 3rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.grid-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-two {
    gap: 3rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.member-img {
  position: relative;
}

.member-overlay {
  padding: 2rem;
  width: 250px;
  position: absolute;
  z-index: 5;
  background: #3a90ac;
  display: none;
}

@media (min-width: 768px) {
  .member-overlay {
    width: 300px;
  }
}

.member-overlay p {
  word-wrap: break-word;
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 768px) {
  .member-overlay p {
    font-size: 1.8rem;
  }
}

.member:hover > .member-overlay {
  display: inline-block;
}

.member:hover > .member-img {
  opacity: 0.3;
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .gallery-img {
    margin: 0;
  }
}

.gallery-img:hover {
  cursor: pointer;
}

/*- - - - - - - 
OVERLAY STYLES 
- - - - - - - */
.gallery-overlay {
  display: absolute;
  width: 100%;
  height: 100%;
  background: rgba(238, 238, 238, 0.5);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlayCont {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wide-img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.close-btn {
  padding: 1rem 2rem;
  background: #fff;
  border: 2px solid black;
  border-radius: 5rem;
}

.close-btn:hover {
  cursor: pointer;
}

.background {
  background: #3a90ac;
}

.news {
  padding: 5rem 0;
  background: #3a90ac;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iframe-container {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.date {
  font-size: 1.5rem;
  font-style: italic;
}

.blog-card {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .blog-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .blog-card .blog-content {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 3rem;
  }
}

.blog-img {
  margin: 2rem 0;
}

.blog-title {
  font-size: 3rem;
}

footer {
  padding: 3rem 0;
  width: 100%;
  background: #eeeeee;
}

.footer-content {
  text-align: center;
  width: 70%;
  max-width: 300px;
}

.copyright {
  margin-top: 2rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
  font-size: 3rem;
}

.social a:hover.youtube {
  color: #f60203;
}

.social a:hover.facebook {
  color: #13a0f9;
}

.social a:hover.instagram {
  color: #d62878;
}

.social a:hover.spotify {
  color: #1db954;
}
/*# sourceMappingURL=app.css.map */