/* - - - BTN STYLES - - - */

.btn {
  @include button($spotify, inline-block);
  padding: 1rem 3rem;
}

.blog-btn {
  @include button($primaryDark, inline-block);
  padding: 1rem 5rem;
}

.right-btn {
  @include button($primaryDark, inline-block);
  align-self: flex-end;
  padding: 1rem 5rem;
}
