//MEDIA QUERIES
@mixin phone {
  @media (min-width: $phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// BUTTON
@mixin button($background, $display) {
  margin: 2rem 0;
  text-align: center;
  border-radius: 3px;
  background: $background;
  color: $white;
  font-weight: $bold;
  display: $display;
  @content;
}

// GRID DISPLAY FOR GALLERY
@mixin grid($phone, $tablet) {
  display: grid;
  grid-template-columns: repeat($phone, 1fr);
  gap: 1rem;
  @include tablet {
    gap: 3rem;
    grid-template-columns: repeat($tablet, 1fr);
  }
}
