@mixin phone {
  @media (min-width: $phone) {
    //a partir de 480px se aplica esto:
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    //a partir de 768px se aplica esto:
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    //a partir de 1200px se aplica esto:
    @content;
  }
}

@mixin button($background, $display) {
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid $background;
  text-align: center;
  color: $black;
  font-weight: $bold;
  display: $display;
  @content;
  &:hover {
    background: $background;
    color: $white;
  }
}
