.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.blog-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  padding: 3rem 0;
}

.center {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.two-columns {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

/* - - - - 
DECORATIONS
- - - - - */
.selected {
  font-weight: $bold;
  border-bottom: 1px solid black;
}

.subtitle {
  margin-bottom: 2rem;
  font-family: $secondaryFont;
}

.subtitle-color {
  color: $blue;
}

.border {
  border: 2px solid black;
}
