.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.blog-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  padding: 3rem 0;
}

/* - - - 
  ALIGN 
- - - - */

.two-columns {
  margin: 2rem 0;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

/* - - - - 
DECORATIONS
- - - - - */
.selected {
  font-weight: $bold;
  border-bottom: 1px solid black;
}

.text-space p {
  margin-bottom: 2rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-family: $secondaryFont;
}

.border {
  border: 2px solid black;
}

/* - - - 
  COLORS 
- - - - */
.subtitle-color {
  color: $blue;
}

.color-blue {
  color: $blue;
  font-style: italic;
  font-weight: $bold;
}
