.container {
  width: 80%;
  margin: 0 auto;
}

.section {
  padding: 3rem 0;
}

.center {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.selected {
  font-weight: $bold;
  color: #b24b8a;
}

.subtitle {
  margin-bottom: 2rem;
  font-family: $secondaryFont;
}
