// COLORS
$black: #000;
$white: #fff;
$purple: #b24b8a;

// FONTS
$primaryFont: "Open Sans", sans-serif;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// MEDIA QUERIES:
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// SPACE
$space: 5rem;

//
