@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
// COLORS
$black: #000;
$white: #fff;
$primary: #b86790;
$primaryDark: #925172;
$grey: rgb(238, 238, 238);

// SNS COLORS
$youtube: #f60203;
$facebook: #13a0f9;
$instagram: #d62878;
$spotify: #1db954;

// FONTS

$primaryFont: "Lato", sans-serif;
$secondaryFont: "Abril Fatface", cursive;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// MEDIA QUERIES:

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// SPACE

$space: 5rem;

//
