// COLORS
$black: #000;
$white: #fff;
$purple: #b24b8a;

// SNS COLORS
$youtube: #f60203;
$facebook: #13a0f9;
$instagram: #d62878;
$spotify: #1db954;

// FONTS
$primaryFont: "Open Sans", sans-serif;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// MEDIA QUERIES:
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// SPACE
$space: 5rem;

//
