.contact {
  padding: $space / 2 0;
  li {
    margin-bottom: 1rem;
  }
  i {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

//to fix the footer on the bottom:
.page-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  footer {
    position: absolute;
    bottom: 0;
  }
}
