footer {
  padding: 3rem 0;
  width: 100%;
  background: $grey;
}

.footer-content {
  text-align: center;
  width: 70%;
  max-width: 300px;
}

.copyright {
  margin-top: 1rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 3rem;
    &:hover.youtube {
      color: $youtube;
    }
    &:hover.facebook {
      color: $facebook;
    }
    &:hover.instagram {
      color: $instagram;
    }
    &:hover.spotify {
      color: $spotify;
    }
  }
}
