.gallery-container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    cursor: pointer;
  }
}

/*- - - - - - - 
OVERLAY STYLES 
- - - - - - - */
.gallery-overlay {
  display: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.507);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.overlayCont {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-img {
  height: 100%;
  object-fit: contain;
}

.close-btn {
  padding: 1rem 2rem;
  background: white;
  border: 1px solid black;
  border-radius: 5rem;
  margin-top: 2rem;
  &:hover {
    cursor: pointer;
  }
}
