.grid-three {
  @include grid(3, 3);
}

.grid-two {
  @include grid(1, 2);
}

//MEMBER OVERLAY

.member {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.member-img {
  position: relative;
}

.member-overlay {
  padding: 2rem;
  width: 250px;
  position: absolute;
  z-index: 5;
  background: $blue;
  display: none;

  @include tablet {
    width: 300px;
  }
  p {
    word-wrap: break-word;
    font-size: 1.5rem;
    color: white;
    @include tablet {
      font-size: 1.8rem;
    }
  }
}

.member:hover > .member-overlay {
  display: inline-block;
}

.member:hover > .member-img {
  opacity: 0.3;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include tablet {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

/*- - - - - - - 
OVERLAY STYLES 
- - - - - - - */
.gallery-overlay {
  display: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.507);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.overlayCont {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-img {
  height: 100%;
  object-fit: contain;
}

.close-btn {
  padding: 1rem 2rem;
  background: white;
  border: 1px solid black;
  border-radius: 5rem;
  margin-top: 2rem;
  &:hover {
    cursor: pointer;
  }
}

.background {
  background: $blue;
}
