.header {
  padding: $space/3 0;
  width: 100%;
  background: $white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    color: $black;
    font-weight: $semibold;
    text-transform: uppercase;
  }

  .navbar {
    a {
      margin-left: 2rem;
      color: $black;
    }
  }
}
