.album-container {
  max-width: 800px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.top {
  margin-bottom: 2rem;
  .album-img-container {
    margin-bottom: 2rem;
    @include tablet {
      max-width: 300px;
    }
    .album-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 3px solid black;
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    .title-container {
      grid-column: 2/4;
    }
    .album-title {
      font-weight: $bold;
      margin-bottom: 2rem;
    }
  }
}

.tracks {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
  li {
    padding: 1rem 0;
    border-bottom: 1px solid grey;
    &:hover {
      background: lightyellow;
    }
  }
}
